/* Google font import link */

@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Merriweather&family=Playfair+Display&family=Poppins:wght@500;700&family=Roboto&family=Roboto+Condensed&family=Roboto+Slab:wght@100&family=Source+Sans+Pro&display=swap');

/* Utilities */

body {
    font-family: 'Poppins', sans-serif;
}

.background-colour {
    background-color: rgba(244, 149, 209, 0.2);
}


/* Subscription section styles */

.subscribe input {
    width: 300px;
}